<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div style="text-align: center;" >
    <h1>About the Game</h1>
    <p>
        This game approximates real life chess as closely as possible. There are no restrictions on where pieces can move except they must be on the board. There are no restrictions about who can move which color. At the start of the game, each player will pick a side through the chat window. All communication will happen through the chat window.
        The game will not monitor legal and illegal moves, nor will the game inform you if you are in check or checkmate. That is your responsibility. If a mistake is made, you can easily rectify it by moving the piece back to the correct position.
        To move a piece, type the position it is on (for example: a2) in the first window and then the position you want to move it to (for example: a4). Then be sure to pay attention and take turns.
        The menu has options to show you the rules and a tutorial video.
    </p>
    <p>
        Good luck, have fun, and don't get bored!
    </p>
</div>
</body>
</html>