<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <center>
        <p>
            ChessBoard was created by John Greaves, Ayala Cnaan, Ben Shapiro, Jeanna Shellenberger, Chris McCole, and Phoenix Kline-Sanfosso
        </p>
        <p>Thank for you playing!</p>
    </center>
</body>
</html>