<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Chess Board</title>
    <style>
        .piece {
            font-size: 35px;
            text-align: center;
        }
    </style>
    <script>
        var nextMove = document.getElementById("txtMove");
        var nextPiece = document.getElementById("txtPiece");
    </script>
</head>
<body>
    <center>
        <h1>ChessBored</h1>
        <ul class="nav nav-tabs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Menu
                </a>
                <ul class="dropdown-menu">
                    <li><a>About</a></li>
                    <li><a>Surrender</a></li>
                    <li><a>Backstep</a></li>
                    <li><a>Castle</a></li>
                    <li><a>Review Rules</a></li>
                    <li><a>Instructional Video</a></li>
                    <li><a>Timer On</a></li>
                    <li><a>Credits</a></li>
                    <li><a>Declare Draw</a></li>
                </ul>
            </li>
        </ul><br />
        <table>
            <tr>
                <td width="500px">
                    <table>
                        <tr>
                            <td><label>8</label></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="a8"><div class="piece" id="blackRook1">&#9820;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="b8"><div class="piece" id="blackKnight1">&#9822;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="c8"><div class="piece" id="blackBishop1">&#9821;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="d8"><div class="piece" id="blackQueen">&#9819;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="e8"><div class="piece" id="blackKing">&#9818;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="f8"><div class="piece" id="blackBishop2">&#9821;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="g8"><div class="piece" id="blackKnight2">&#9822;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="h8"><div class="piece" id="blackRook2">&#9820;</div></div></td>
                        </tr>
                        <tr>
                            <td><label>7</label></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="a7"><div class="piece" id="blackPawn1">&#9823;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="b7"><div class="piece" id="blackPawn2">&#9823;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="c7"><div class="piece" id="blackPawn3">&#9823;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="d7"><div class="piece" id="blackPawn4">&#9823;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="e7"><div class="piece" id="blackPawn5">&#9823;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="f7"><div class="piece" id="blackPawn6">&#9823;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="g7"><div class="piece" id="blackPawn7">&#9823;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="h7"><div class="piece" id="blackPawn8">&#9823;</div></div></td>
                        </tr>
                        <tr>
                            <td><label>6</label></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="a6"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="b6"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="c6"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="d6"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="e6"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="f6"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="g6"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="h6"></div></td>
                        </tr>
                        <tr>
                            <td><label>5</label></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="a5"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="b5"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="c5"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="d5"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="e5"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="f5"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="g5"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="h5"></div></td>
                        </tr>
                        <tr>
                            <td><label>4</label></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="a4"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="b4"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="c4"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="d4"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="e4"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="f4"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="g4"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="h4"></div></td>
                        </tr>
                        <tr>
                            <td><label>3</label></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="a3"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="b3"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="c3"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="d3"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="e3"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="f3"></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="g3"></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="h3"></div></td>
                        </tr>
                        <tr>
                            <td><label>2</label></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="a2"><div class="piece" id="whitePawn1">&#9817;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="b2"><div class="piece" id="whitePawn2">&#9817;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="c2"><div class="piece" id="whitePawn3">&#9817;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="d2"><div class="piece" id="whitePawn4">&#9817;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="e2"><div class="piece" id="whitePawn5">&#9817;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="f2"><div class="piece" id="whitePawn6">&#9817;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="g2"><div class="piece" id="whitePawn7">&#9817;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="h2"><div class="piece" id="whitePawn8">&#9817;</div></div></td>
                        </tr>
                        <tr>
                            <td><label>1</label></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="a1"><div class="piece" id="whiteRook1">&#9814;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="b1"><div class="piece" id="whiteKnight1">&#9816;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="c1"><div class="piece" id="whiteBishop1">&#9815;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="d1"><div class="piece" id="whiteKing">&#9812;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="e1"><div class="piece" id="whiteQueen">&#9813;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="f1"><div class="piece" id="whiteBishop2">&#9815;</div></div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div id="g1"><div class="piece" id="whiteKnight2">&#9816;</div></div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div id="h1"><div class="piece" id="whiteRook2">&#9814;</div></div></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td width="50px"><center><label>A</label></center></td>
                            <td width="50px"><center><label>B</label></center></td>
                            <td width="50px"><center><label>C</label></center></td>
                            <td width="50px"><center><label>D</label></center></td>
                            <td width="50px"><center><label>E</label></center></td>
                            <td width="50px"><center><label>F</label></center></td>
                            <td width="50px"><center><label>G</label></center></td>
                            <td width="50px"><center><label>H</label></center></td>
                        </tr>
                    </table>
                    <br />
                    <label>Select Piece to move:</label>
                    <input type="text" id="PieceID" style="height:30px; width:330px; vertical-align:middle" />
                    <button id="SendPiece" type="button" class="btn btn-primary" style="height:30px; width:100px">Select</button> <br /><br />
                    <label>Move Piece to:</label>
                    <input type="text" id="MoveID" style="height:30px; width:330px; vertical-align:middle"/>
                    <button id="SendMove" type="button" class="btn btn-primary" style="height:30px; width:100px">Make Move</button>
                </td>
                <td>
                    <ul id="ChatTable" style="border:solid; height:400px; width:400px; list-style-type: none; list-style-position: inside; margin: 5px; padding: 5px; word-wrap: break-word; overflow:hidden; overflow-y:scroll;"></ul><br />
                    <input type="text" id="ChatMessage" style="height:30px; width:330px; vertical-align:middle" />
                    <button id="SendChat" type="button" class="btn btn-primary" style="vertical-align:center; horiz-align:center; height:30px; width:70px">Send</button>
                </td>
            </tr>
        </table>
    </center>
    <script>
        function SendMove(connection) {
            let message1 = document.getElementById("PieceID");
            let message2 = document.getElementById("MoveID");
            if (message1.value === "" || message2.value === "")
                return;
            connection.invoke("SendMove", message1.value, message2.value).catch(function (err) {
                return console.error(err.toString());
            });
            message1.value = "";
            message2.value = "";
        }

        function SendChat(connection) {
            let message = document.getElementById("ChatMessage");
            if (message.value === "")
                return;
            connection.invoke("SendChat", "Test", message.value).catch(function (err) {
                return console.error(err.toString());
            });
            message.value = "";
        }


        $(function () {
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/api/game/" + Math.floor(Math.random() * 2))
                .configureLogging(signalR.LogLevel.Information)
                .build();

            document.getElementById("SendChat").addEventListener("click", function (event) {
                SendChat(connection);
                event.preventDefault();
            });
            document.getElementById("ChatMessage").addEventListener("keydown", function (event) {
                if (event.key === "Enter" || event.code === "Enter") { //Enter keycode
                    SendChat(connection);
                    event.preventDefault();
                }
            });

            document.getElementById("SendMove").addEventListener("click", function (event) {
                SendMove(connection);
                event.preventDefault();
            });

            document.getElementById("MoveID").addEventListener("keydown", function (event) {
                if (event.key === "Enter" || event.code === "Enter") {
                    SendMove(connection);
                    event.preventDefault();
                }
            });

            document.getElementById("PieceID").addEventListener("keydown", function (event) {
                if (event.key === "Enter" || event.code === "Enter") {
                    SendMove(connection);
                    event.preventDefault();
                }
            });

            connection.start().catch(function (err) {
                return console.error(err.toString());
            });

            connection.on("ReceiveChat", (user, message) => {
                const li = document.createElement("li");
                let name = document.createElement("strong");
                let chat = document.createElement("text");
                name.innerHTML = "<b>" + user + ":</b> ";
                chat.innerHTML = message;
                li.appendChild(name);
                li.appendChild(chat);
                document.getElementById("ChatTable").appendChild(li);
                let scroll = document.getElementById("ChatTable");
                scroll.scrollTop = scroll.scrollHeight;
            });

            connection.on("ReceiveMove", (user, piece, move) => {
                let space = document.getElementById(move.toString());
                let movedPiece = document.getElementById(piece.toString());

                space.value = movedPiece;
            });

            async function start() {
                try {
                    await connection.start();
                } catch (err) {
                    console.log(err);
                    setTimeout(() => start(), 5000);
                }
            }

            connection.onclose(async () => {
                await start();
            });
        });
    </script>
</body>
</html>