@{
    ViewData["Title"] = "Game";
}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .piece {
            font-size: 35px;
            text-align: center;
        }
    </style>

</head>
<body>
    <center>
        <h1>ChessBored</h1>
        <ul class="nav nav-tabs">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Menu
                </a>
                <ul class="dropdown-menu">
                    <li><a>About</a></li>
                    <li><a>Surrender</a></li>
                    <li><a>Backstep</a></li>
                    <li><a>Castle</a></li>
                    <li><a>Review Rules</a></li>
                    <li><a>Instructional Video</a></li>
                    <li><a>Timer On</a></li>
                    <li><a>Credits</a></li>
                </ul>
            </li>
        </ul><br/>
        <table>
            <tr>
                <td width="500px">
                    <table>
                        <tr>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="blackRook1">&#9820;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="blackKnight1">&#9822;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="blackBishop1">&#9821;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="blackQueen">&#9819;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="blackKing">&#9818;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="blackBishop2">&#9821;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="blackKnight2">&#9822;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="blackRook2">&#9820;</div></td>
                        </tr>
                        <tr>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="blackPawn1">&#9823;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="blackPawn2">&#9823;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="blackPawn3">&#9823;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="blackPawn4">&#9823;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="blackPawn5">&#9823;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="blackPawn6">&#9823;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="blackPawn7">&#9823;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="blackPawn8">&#9823;</div></td>
                        </tr>
                        <tr>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                        </tr>
                        <tr>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                        </tr>
                        <tr>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                        </tr>
                        <tr>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                            <td height="50px" width="50px" bgcolor="939064"></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"></td>
                        </tr>
                        <tr>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="whitePawn1">&#9817;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="whitePawn2">&#9817;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="whitePawn3">&#9817;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="whitePawn4">&#9817;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="whitePawn5">&#9817;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="whitePawn6">&#9817;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="whitePawn7">&#9817;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="whitePawn8">&#9817;</div></td>
                        </tr>
                        <tr>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="whiteRook1">&#9814;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="whiteKnight1">&#9816;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="whiteBishop1">&#9815;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="whiteKing">&#9812;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="whiteQueen">&#9813;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="whiteBishop2">&#9815;</div></td>
                            <td height="50px" width="50px" bgcolor="939064"><div class="piece" id="whiteKnight2">&#9816;</div></td>
                            <td height="50px" width="50px" bgcolor="EAF9D1"><div class="piece" id="whiteRook2">&#9814;</div></td>
                        </tr>
                    </table>
                    <br />
                    <label>Enter next move:</label>
                    <textarea id="txtMove" rows="1" style="vertical-align:middle"></textarea>
                    <button type="button" class="btn btn-primary" style="height:30px; width:100px">Make Move</button>
                </td>
                <script>
                function SendChat(connection){
                    let message = document.getElementById("ChatMessage");
                    if(message.value === "")
                        return;
                    connection.invoke("SendChat", message.value).catch(function (err) {
                        return console.error(err.toString());
                    });
                    message.value = "";
                }
                
                $(function () {
                                    const connection = new signalR.HubConnectionBuilder()
                                        .withUrl("/chat")
                                        .configureLogging(signalR.LogLevel.Information)
                                        .build();
                                    
                                    document.getElementById("SendChat").addEventListener("click", function (event) {
                                        SendChat(connection);
                                        event.preventDefault();
                                    });
                                    document.getElementById("ChatMessage").addEventListener("keydown", function (event) {
                                        if(event.key === "Enter" || event.code === "Enter") { //Enter keycode
                                            SendChat(connection);
                                            event.preventDefault();
                                        }
                                    });
                                    
                                    connection.start().catch(function (err) {
                                        return console.error(err.toString());
                                    });
                                    
                                    connection.on("ReceiveChat", (user, message) => {
                                        const li = document.createElement("li");
                                        let name = document.createElement("strong");
                                        let chat = document.createElement("text");
                                        name.innerHTML = "<b>" + user + ":</b> ";
                                        chat.innerHTML = message;
                                        li.appendChild(name);
                                        li.appendChild(chat);
                                        document.getElementById("ChatTable").appendChild(li);
                                        let scroll = document.getElementById("ChatTable");
                                        scroll.scrollTop = scroll.scrollHeight;
                                    });
                                    
                                    async function start() {
                                        try {
                                            await connection.start();
                                        } catch (err) {
                                            console.log(err);
                                            setTimeout(() => start(), 5000);
                                        }
                                    }
                                    
                                    connection.onclose(async () => {
                                        await start();
                                    });
                });
                </script>
                <td>
                    <ul id="ChatTable" style="border:solid; height:400px; width:200px; list-style-type: none; list-style-position: inside; margin: 5px; padding: 5px; word-wrap: break-word; overflow:hidden; overflow-y:scroll;"></ul><br />
                    <input type="text" id="ChatMessage" style="vertical-align:middle"/>
                    <button id="SendChat" type="button" class="btn btn-primary" style="vertical-align:middle; height:30px; width:50px">Send</button>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>
