<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial</title>
</head>
<body>
    <h1>Welcome to the ChessBoard tutorial!</h1>
    <p>In order to use this application you must type out all commands in chess board coordinates inside of each text box.
        When moving a piece first type out the location of the piece in the "Select piece to move" textbox and then the 
        location of where you want to move the piece in the "Move Piece to" textbox. After the information has been inputed you
        may press enter or the "Make Move" button.
    </p>
    <p>Examples of a command shown here:</p>
    <img src="../../Screenshots/Tutorial.png" height="903" width="1920"/>
    <p>Outcome:</p>
    <img src="../../Screenshots/Tutorial2.PNG" height="905" width="1920"/>
</body>
</html>